.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  word-break: break-all;
  position: relative;

  .intro {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .result {
    width: 136px;
    height: 136px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .download {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    font-size: 15px;
    color: #404040;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
  }

  .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;

    h3 {
      font-size: 18px;
      color: #fc5000;
      margin: 0;
      margin-top: -25px;
    }
  }

  .brief {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
  }

  .right {
    margin-left: 20px;
    flex: 1;
  }

  .title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      font-size: 20px;
      color: #333;
      margin: 0;
    }

    .tag-wrapper {
      margin-left: 20px;

      .tag {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
      }

      .positive {
        color: #138545;
        background-color: #f4fef0;
        border: 1px solid #6abd8e;
      }

      .negative {
        color: #f34036;
        background-color: #fff6f5;
        border: 1px solid #fe7c75;
      }

      .neutral {
        color: #2980b9;
        background-color: #f1fbff;
        border: 1px solid #63aedf;
      }
    }
  }

  .label-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .label {}
  }

  .details {
    margin-top: 20px;
    font-size: 14px;
    color: #333;

    .line {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .item {
        display: flex;
        min-width: 200px;
        margin-right: 20px;

        &:not(:first-child) {
          flex: 1;
        }

        .label {
          color: #808080;
          min-width: 50px;
        }

        .value {
          flex: 1;
        }

        a {
          color: #2c97de;
        }
      }
    }

    // display: flex;
    // flex-direction: row;
    // margin-top: 20px;

    // .line1 {
    //   padding-right: 45px;

    //   .phoneNumber {
    //     padding-bottom: 12px;
    //     color: grey;
    //   }

    //   .email {
    //     color: grey;
    //   }
    // }

    // .line2 {
    //   padding-right: 15px;

    //   .website {
    //     padding-bottom: 12px;

    //     .website-title {
    //       color: grey;
    //     }

    //     a {
    //       color: #2C97DE;
    //     }
    //   }

    //   .address {
    //     color: grey;
    //   }
    // }
  }
}