<!DOCTYPE html>
<html lang="en">
<head>
  <title>广西中小企业融资信用服务平台</title>
  <meta name="keywords" content="中国东信,联合征信,小微融资,信用服务,桂信通,征信,东盟">
  <meta name="description" content="平台由广西联合征信有限公司建设运营，隶属于中国—东盟信息港股份有限公司，致力于应用大数据、物联网和区块链等新技术，助力解决小微企业融资难融资贵问题。">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div id="app"></div>
</body>
</html>
