.popup-container {
  transition: .2s all;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #333333;
  .popup-wrap {
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
  }
  .popup-box.middle{
    width: 700px;
  }
  .popup-box {
    &.smallscreen{
      top: 5px;
    }
    position: absolute;
    top: 10vh;
    width: 1100px;
    background-color: white;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    .icon-close {
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
    }
    .popup-title {
      height: 50px;
      line-height: 50px;
      padding-left: 20px;
      border-bottom: solid 1px #eeeeee;
      font-weight: bold;
    }
    .popup-body {
      padding: 30px 20px;
      font-size: 14px;
      word-break: break-all;
      color: #606266;
      .popup-content {
        // overflow-y: auto;
        .title {
          text-align: center;
          font-size: 18px;
        }
        p {
          text-indent: 28px;
          line-height: 1.5;
        }
      }
    }
  }
}