.bg-grey{
  padding-bottom: 100px;
  overflow: hidden;
  background-color: $bg-grey;
  border-top: 1px solid #DFE2E6;
}
.banner{
  height: 150px;
  overflow: hidden;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('~@src/assets/img/bg-components-searchBanner.png') 0 0 ;
}
.goods-top-outer{
  display: flex;
  height: 208px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  .logo{
    padding: 10px;
    box-sizing: border-box;
    margin-right: 40px;
    background: url("~@src/assets/img/logo_background/productBg.png") no-repeat 0 0;
    width: 300px;
    height: 168px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    .p-name{
      font-size: 24px;
      text-align: center;
    }
    .line{
      margin: 10px 0;
      width: 20px;
      height: 1px;
      background-color: #fff;
    }
    .c-name{
      text-align: center;
      font-size: 14px;
    }
  }
  .infos{
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    .line{
      width: 100%;
      height: 40px;
      display: flex;
      &.tip{
        height: 16px;
        font-size: 12px;
        color: #999;

      }
      .item{
        flex: 1;
        display: flex;
        padding-right: 20px;
        img{
          margin-right: 10px;
        }
        .text{
          flex: 1;
        }
        .sub{
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          font-size: 13px;
          color: #808080;
          margin-bottom: 5px;
        }
        .val{
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          overflow: hidden;
          font-size: 16px;
          color: #333;
        }
      }
    }
  }
}
.form-box{
  margin: 40px 0;
  background-color: #fff;
  padding: 60px 100px;
  .line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .form-group{
      flex: 1;
      position: relative;
      width: 50%;
      .error-tip{
        transition: all .3;
        padding-left: 165px;
        font-size: 12px;
        height: 12px;
        position: absolute;
        width: 100%;
        color: #f56c6c;
        bottom: -15px;
        box-sizing: border-box;
      }
      .notice-tip{
        padding-top: 20px;
        transition: all .3;
        padding-left: 165px;
        font-size: 12px;
        height: 12px;
        position: absolute;
        width: 100%;
        color: #999;
        bottom: -15px;
        box-sizing: border-box;
        width: 1000px;
      }
    }
  }
}
.btns{
  margin-top: 80px;
  text-align: center;
  button{
    margin: 0 10px;
  }
}